{% extends "base.html"%}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <div class="max-w-4xl mx-auto px-4 py-8">
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <div class="relative h-64 bg-cover bg-center" style="background-image: url('https://via.placeholder.com/800x400')">

            </div>
            <div class="p-6">
                <h2 class="text-3xl font-semibold text-gray-800">{{post.title}}</h2>
                <p class="mt-4 text-gray-600">تاریخ:{{post.updat_date}}</p>
                <p class="mt-4 text-gray-600">نویسنده: {{post.creator}}</p>
                <p class="mt-4 text-gray-700">متن محتوا:{{post.body}}</p>
            </div>
        </div>
    </div>

{% endblock %}