{% extends 'base.html' %}
{% block lists %}

{% for post in posts %}
    <div class="border max-w-xl  mx-auto border-gray-300 p-4  mb-4 rounded-lg shadow-lg grid grid-cols-2">
        <div class="aspect-h-16 aspect-w-16">
            <img src="./11812996_179.png" alt="alut" class="w-full rounded-lg">
        </div>
        <div class="text-sm text-gray-700 mb-2 ml-3   flex flex-col justify-between">
            <div class="">

                <h3 class=" font-bold  mb-2">{{post.title}}</h3>
                <p class=" font-medium  line-clamp-3  ">
                  {{post.body}}
                </p>
            </div>
            <div class="flex justify-end">
                <div class="relative" x-data="{ showD: false }">
                   <a href="{% url 'blog_view' post.pk %}"> <button x-on:click="showD = !showD"  type="button" class=" flex gap-3 px-4 py-2 rounded-lg bg-blue-500 text-white text-xs font-medium">
                        <span>
                            More Info

                        </span>


                            <svg xmlns="http://www.w3.org/2000/svg" x-bind:class="{'rotate-180' : showD}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"   class="transform transition w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                              </svg>



                    </button>
                      </a>
                    <ul  x-on:click.away="showD = false " x-show="showD" class="transform transition absolute overflow-hidden left-0 bottom-full list-none flex flex-col w-full divide-y-2 divide-gray-400 bg-gray-300 text-base font-medium rounded-xl">
                        <li class="p-2 hover:bg-gray-400">1</li>
                        <li class="p-2 hover:bg-gray-400">2</li>
                        <li class="p-2 hover:bg-gray-400">3</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

        </div>
    </div>

{%endfor%}

{% endblock %}